STORAGE_ROOT=storage/studies
BACKEND_PUBLIC_URL=http://127.0.0.1:8000
NNUNET_ENABLED=false
NNUNET_PREDICT_COMMAND=nnUNetv2_predict
NNUNET_DEFAULT_DATASET=
NNUNET_DEFAULT_CONFIGURATION=3d_lowres
NNUNET_DEFAULT_FOLD=0
NNUNET_DEFAULT_CHECKPOINT=checkpoint_best.pth
NNUNET_DEFAULT_DEVICE=cpu
NNUNET_TIMEOUT_SECONDS=3600
CT_ANATOMY_LABELS_PATH=
